@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

#footer {
    font-family: 'Muli', sans-serif;
    height: 100% !important;
    background-color: #fff !important;
    padding: 0 !important;
    margin-left: 0 0 0 15px !important;
}

.container-fluid2 {
    margin-top: 101px;
    color: #000 !important;
    margin-top: 100px !important;
}

.card {
    padding-bottom: 30px;
    color: #757575 !important;
    background-color: #fff !important;
    align-items: center !important;
    background: url('https://i.imgur.com/9djv5sH.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right calc(110px + (150 - 110) * ((100vw - 360px) / (1600 - 360))) bottom !important;
}
.text-center{
    text-align: center;
    margin: 0 auto;
    padding-right: 15px;
}

p.pl-0 {
    margin-bottom: 30px !important;
}

#footer h2 {
    font-size: calc(25px + (45 - 25) * ((100vw - 360px) / (1600 - 360))) !important
}

#footer h5 {
    font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
}

#footer .fa {
    cursor: pointer;
    font-size: 21px;
    margin: 5px 10px 5px 10px !important;
    color: rgb(117, 117, 117);
}

#footer button {
    font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
    padding-left: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;;
    background-color: #db941d;
}
.btn-success{
    border-color: #db941d !important;
}
#footer button:hover{
    background-color: #db941d !important;
}
#footer button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
    background-color: #db941d !important;
}

hr.mx-0{
    margin: 0px auto; 
}

.list-footer li {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    border: 2px solid #db941d !important
}

.input-group-lg>.custom-select,
.input-group-lg>.form-control:not(textarea) {
    height: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important
}

input::-webkit-input-placeholder {
    padding-left: 5px !important;
    transform: translate3d(0, -4px, 0)
}

input::placeholder {
    vertical-align: middle !important;
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.img-fluid {
    vertical-align: middle !important;
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 70px;
}

.list-footer li:first-child {
    font-size: 21px !important;
    font-weight: bold;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    color: #db941d !important;
}

footer {
    color: #757575 !important
}

.social {
    position: relative;
    left: -10px
}

.cursor-pointer {
    cursor: pointer !important;
    color: #757575;
    font-weight: bold
}

.fix-footer{
    margin-top: 0px;
    margin-bottom: 40px;
    padding-left: 8px;
}

.py-5{
  padding-top: 0px !important;
}

.list-footer a{
  text-decoration: none;
  color: #757575;
}
.social a:hover{
  text-decoration: none;
}
.mx-0{
    margin-left: 20px !important;
}