.Comment{
    width: 550px;
    height: auto;
}
.Pagenew{
    background: #ffffff;
    margin-top: -70px;
    color: #333;
}
.Pagenew1{
    background: rgb(219, 148, 29, 0.02);
    border-left: 1px solid #fff3de;
    border-right: 1px solid #fff3de;
    padding-top: 70px;
    margin-top: 70px;
}
.Pagenew1 b{
    font-size: large;
}
.contentnewTitle a{
    text-decoration: none;
}
.contentnewTitle .Title1{
    margin-top: 45px;
}
.contentnewTitle h4{
    color: #db941d;
    font-family: "Muli", sans-serif;
    font-weight: 650;
}
.contentnewTitle h6{
    color: #333333e0;
}
.contentnewTitle img{
    width: 100%;
}

.meta1> span> h6{
    color: #616161;
    font-size: 12.5px;
}
.meta1> span> h6> a{
    text-decoration: none;
    color: #616161;
    font-size: 12.5px;
}
.meta1> span> h6> a:hover{
    color: #db941d;
}

.contentnewTitle1 img{
    width: 100%;
    margin-bottom: 10px;
}
.contentnewTitle1 h6{
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}
.contentnewTitle1 p{
    color: #333333e0;
}
.contentnewTitle1 i{
    font-size: 12px;
    color: #333333e0;
    display: block;
    text-align: center;
}

.navnew{
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #F7BE81;
}
.Related{
    margin-top: 100px;
}
.Related h5 {
    font-family: "Muli", sans-serif;
    margin-bottom: 20px;
    font-weight: 550;
    font-style: italic;
}
.navnew img{
    margin-bottom: 10px;
    border-radius: 12px;
}
.navnew a{
    text-decoration: none;
}
.navnew img{ 
    width: 100px; 
    height: 80px;
}
.navnew p{
    color: #333; 
    margin-bottom: 0px; 
    font-size: 14px;
}

.Navnew1{
    margin-top: 30px;
}
.Navnew1 a{
    text-decoration: none;
}
.Navnew1 img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 12px;
}
.interested h5{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Muli", sans-serif;
    font-weight: 550;
    font-style: italic;
}
.Navnew1 p{
    color: #333333d2;
    font-size: 14px;
}
.InterestedNew a{
    text-decoration: none;
}
.InterestedNew h5{
    text-align: center;
    border-bottom: 1px solid #F7BE81;
    color: #333333;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: "Muli", sans-serif;
    font-size: 25px;
    font-style: oblique;
    font-weight: 550;
}
.InterestedNew img{
    width: 100%;
    height: 173px;
    margin-bottom: 5px;
    border-radius: 12px;
}
.InterestedNew p{
    color: #29292b;
}

.ads_right{
    margin-top: 30px;
}
.ads_right button{
    background:#fff;
    border-radius: 5px;
    color:#181816;
    box-shadow: 2px 2px 2px black;
    font-size: 12px;
}

.col-xl-3{
    margin-bottom: 60px;
}

.commentfb{
    margin-top: 80px;
}

/* Preloder */

#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fcf7ed;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #db941d;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #304ed4;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #d8372c;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #db941d;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #304ed4;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #d8372c;
		border-left-color: transparent;
	}
}