body{
    font-size: 100%;
	margin: 0 auto !important;
    font-family: "Muli", sans-serif;
    letter-spacing: 0.1em;
    background-color: #fff;
    /* margin-right: 15px; */
    max-width: 1504.2px;
    text-align: left;
    color: #333;
    /* margin-right: -100px !important; */
}
/* Preloder */

#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fcf7ed;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #db941d;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #304ed4;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #d8372c;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #db941d;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #304ed4;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #d8372c;
		border-left-color: transparent;
	}
}
#container-total{
    text-align: center;
}
.clear-fix{
    display: inline-block;
    width: 1230px;
}

.slot1 {
    width: 100%;
    height: 450px;
    background-image: url("../../img/Banner/2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 600px;
}
.slot2 {
    width: 40%;
    height: 200px;
    background: #fff;
    margin-left: 30%;
    margin-top: 120px;
}

.slot3 h2{
    text-align: center;
    text-transform: uppercase;
    color: #333;
    padding-top: 70px;
    font-family: "Muli", sans-serif;
}

.slot4 {
    height: 350px;
    margin-top: 85px;
}

.slot6 {
    max-width: 700px;
    margin-left: 5px;
    /* margin-right: -15px; */
}

.slot7 {
    max-width: 700px;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("../../img/About/About-Img 2.jpg");
    margin-left: 35px;
    /* background-size: 100% 500px; */
    margin-top: 45px;
    border-radius: 12px;
    /* border: 2px solid #db941d; */
}

.slot8 {
    /* margin-left: 30px; */
    margin-right: 20px;
    margin-top: 65px;                             
    text-align: justify;
    font-size: 18px;
    color: #333;
    font-family: 'Muli', sans-serif !important;
}

.company-title{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: "Muli", sans-serif;
    bottom: 50px;
    color: #db941d;
}
/* .company-title:hover{
    color: #db941d;
} */

#content_2 {
    margin-top: 160px;
    max-width: 1150px;
    text-align: center;
}
.text1_content_2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 2px solid #ff3300;
}
.img-hover{
    position: relative;
}

.img-hover>img{
    width: 100%;
    height: 280px;
    vertical-align: bottom;
}
.img-hover>.title{
    position: absolute;
    z-index: 99;
    bottom: 5px;
    left: 0;

    background: rgba(22, 22, 22, 0.4);
    height: 50px;
    color: #fff;
    line-height: 50px;
    padding: 0px 0px 0px 10px;
    width: 100%;
    display: none;
    font-size: 14px;
}

.img-hover:hover>.title{
    display: block;
    animation-name: img-hover;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}
@keyframes img-hover {
    from{
        bottom: -20px;
    }
    to{
        bottom: 5px;
    }
}
.introduce{
    text-align: center;
}
#list_intro img{
    border-radius: 3px;
}
.p2_list_intro{
    border: 1px solid #bdbdbd;
    display: inline-table;
    text-decoration: none;
}
.p1_child_list1{
    margin-top: -8px;
    font-size: 14px;
    color: #1c1c1c;
}
.p2_child_list1{
    display: inline-table;
    text-decoration: none;
    color: #424242;
}
.p2_child_list1:hover{
    color: #000111;
}
.title_tour{
    font-weight: bold;
    letter-spacing: 2px;
    color: #5e5655;
    border-bottom: 1px solid rgba(0, 0, 0,0.1);
    padding-bottom: 5px;
    margin-top: -40px;
    text-align: center;
    margin-bottom: 30px;

}
.h3_title_tour{
    margin-top: 100px;
    font-size: 30px;
    font-family: "Muli", sans-serif;
}
.tnt{
    margin-bottom: 30px;
}
@media(max-width: 414px){
    .slot1{background-size: 100% 450px; height: 450px;}
    .tnt{margin-bottom: 30px;}
    .slot7{background-size: 100% 240px; background-repeat: no-repeat;}
    .slot9{background-size: 100% 240px; background-repeat: no-repeat;}
    .slot8{margin-top: 30px;}
}
.title{
    border-radius: 12px;
    text-align: center;
}
.grow{
    max-width: 286px;
}

/*Back To Top*/
#myBtn {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #db941d;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    opacity: 0.8;
}

#myBtn:hover {
    background-color: #e4c58f;
}

#myBtn i{
    padding-bottom: 10px !important;
    font-size: 25px;
}


  
