/*Tab Panel*/
  #diary{
    text-align: center;
  }
  #diary-fix{
    display: inline-block;
    margin-top: 20px;
  }

  .container{
    max-width: 1200px !important;
    margin-top: 20px;
    padding-left: 0px;
    color: #333333;
  }

  .title-diary{
    /* font-family: "Guardian-EgypTT"; */
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin: 15px auto !important;
  }
  /* .title-panels a:hover {
    display: inline-block;
    border-color: transparent;
    color: #db941d;
  } */
  .title-diary a {
    font-weight: 600;
    text-decoration: none;
    color: #db941d;
  }
  .title-diary i {
    text-decoration: none;
    padding-left: 8px;
  }

  .nav-tabs a{
    max-width: 1200px;
  }
  .image02 {
    vertical-align: middle;
    border-style: none;
    width: 280.75px;
    height: 283.33px;
    border-radius: 12px;
    margin: auto;
  }
  .nav-link {
    padding: 16px 20px 11px 20px;
    font-size: 16px;
    text-align: center;
    color: #333333;
    background-color: #fff;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: "Muli", sans-serif;
  }
  .nav-link:hover {
    opacity: 1.5;
    color: #333333;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .tab-content{
    padding: 0px !important;
    /* margin-top: 10px !important; */
    float: left !important;
    margin-left: -13px !important;
  }

  .tab-pane{
    margin-top: 0px !important;
    padding-left: 10px;
  }
  .nav-tabs .nav-link.active {
    opacity: 1;
    color: #333333;
  }
  .btn-link {
    margin: auto;
    display: block !important;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #333333;
    text-decoration: underline;
  }
  .btn-link:hover{
    color: #db941d;
  }
  .txt {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 500;
  }
