/*futured-products*/
.container2 {
    max-width: 900px;
    font-family: "Muli", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
  }

  #title-futured {
    text-align: center;
  }
  #title-futured a{
    text-decoration: none;
    color: none;
  }
  #title-futured h1 {
    /* font-family: "Guardian-EgypTT"; */
    font-size: 33px;
    font-weight: 600;
    margin: 0px;
    color: #db941d;
    text-decoration: none;
  }
  #title-futured span {
    font-size: 17px;
    margin-bottom: 20px;
    color: #333333;
  }
  #title-futured span:hover{
    color: #db941d;
  }

  .post-list {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
  }

  .post-media {
    margin-bottom: 10px;
    display: block;
  }

  .post-image {
    width: 100%;
    height: 290px;
    border-radius: 12px;
    object-fit: cover;
  }

  .post-feature {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 0 20px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .post-feature-media {
    margin-bottom: 0;
  }

  .post-feature-image {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 320px;
  }

  .post-category {
    display: grid;
    position: relative;
    border-radius: 12px;
  }
  .post-category:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .post-feature-title {
    line-height: 1.3;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
  }

