/*Sale*/
  #sales-fix{
    text-align: center;
  }

  .container-fluid {
    margin-bottom: 35px;
    padding-left: 0px;
    margin-left: -15px !important;
    color: #333333;
  }

  .container-sales{
    /* float: left; */
    /* margin-left: 65px !important; */
    max-width: 1200px; 
    margin: 0 auto;
    display: inline-block;
  }

  .image01 {
    width: 100%;
    height: 39vh;
    border-radius: 12px;
    overflow: hidden;
    display: block;
  }
  .col-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 0px;
  }

  .caption {
    text-align: justify;
    margin-top: 80px;
    margin-left: 0px;
  }
  .caption h4{
    color: #db941d;
  }
  .caption h6{
    font-family: "Muli", sans-serif;
    font-style: oblique;
    font-size: 12px; 
    margin-bottom: 10px;
  }
  .caption h4{
    /* font-family: "Guardian-EgypTT"; */
    font-size: 25px !important; 
    font-weight: 650 !important; 
    margin-bottom: 20px !important;
  }
  .caption a{
    color: #333333;
    text-decoration: none;
    font-weight: 550;
  }
  .caption a:hover{
    color: #db941d;
  }

  .caption01 {
    text-align: justify;
    margin-top: 65px;
    font-size: 14px;
  }
  /*.button-flex {
    margin: auto;
    display: block !important;
  }*/
  .clear-fix{
    text-align: center;
  }
  .button2 {
    display: inline-block;
    color: #db941d;
    padding: 3px 15px 5px 15px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    line-height: normal;
    transition: all 0.2s linear;
    margin: 13px auto 25px auto;
  }
  .button2 a{
    text-decoration: none;
    color: #333333;
    font-size: 13px;
    font-weight: 500;
  }

  .button--outline2 {
    border: 1px solid;
  }

  .button--outline2:hover{
    background-color: #db941d;
    border-color: #333333;
  }
  .button2 a:hover{
    color: #333333;
  }
